.bgNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgb(100, 12, 84);
    background: linear-gradient(90deg, rgba(100, 12, 84, 1) 8%, rgba(36, 4, 92, 1) 22%, rgba(36, 4, 92, 1) 36%, rgba(28, 4, 84, 1) 49%, rgba(12, 36, 148, 1) 63%, rgba(12, 76, 156, 1) 79%, rgba(12, 123, 155, 1) 95%);
}

.navButtons {
    background-color: transparent;
    color: #fff;
    border: 0.5px solid var(--color-mono-thirt);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}


.navButtons:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
    border-radius: 8px;
}