.gradientTextExperience {

    margin-top: 2%;
    font-size: 2em;
    background: linear-gradient(to right, #940444,var(--color-sixth), var(--color-thirt),var(--color-seventh));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    text-shadow: 2px 2px 4px var(--color-sixth);
}

.techUsed{
    padding-left: 10px;
    margin-top: 10%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }


.expTech{
    padding-left: 20px;
    margin-top: 5%;
    background: radial-gradient(circle at 100% 100%, var(--color-mono-second) 0, var(--color-mono-second) 6px, transparent 6px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, var(--color-mono-second) 0, var(--color-mono-second) 6px, transparent 6px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, var(--color-mono-second) 0, var(--color-mono-second) 6px, transparent 6px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, var(--color-mono-second) 0, var(--color-mono-second) 6px, transparent 6px) 100% 100%/10px 10px no-repeat,
            linear-gradient(var(--color-mono-second), var(--color-mono-second)) 50% 50%/calc(100% - 8px) calc(100% - 20px) no-repeat,
            linear-gradient(var(--color-mono-second), var(--color-mono-second)) 50% 50%/calc(100% - 20px) calc(100% - 8px) no-repeat,
            linear-gradient(168deg, #640c54 16%, #24045c 30%, #24045c 42%, #1c0454 54%, #0c4c9c 66%, rgba(2, 158, 223, 0.81) 79%, #0c7b9b 92%),
            linear-gradient(90deg, transparent 0%, #48abe0 100%);
border-radius: 10px;
padding: 19px;
box-sizing: border-box;
}

/* Button 1 */

 .playButton {
    background-color: #940444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #940444;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .play-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-right: 10px;
  }
  
  .playButton:hover {
    background-color: var(--color-seventh);
    color: var(--color-first);
    box-shadow: 2px 2px 20px var(--color-seventh);
    transform: translateY(-2px);
  }
  
  

/* Button 2*/

  .primaryButton {
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid var(--color-thirt);
    border-radius: 10px;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23940444 /* fill: %23940444; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: var(--color-thirt);
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primaryButton:hover {
    border: 1px solid #940444;
    color: white;
    background-position: 40%;
   }
   
   .primaryButton:before {
    content: "";
    position: absolute;
    background-color: var(--color-thirt);
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primaryButton:hover:before {
    background-color: white;
   }
   
   .primaryButton:hover:after {
    background-color: white;
   }
   
   .primaryButton:after {
    content: "";
    position: absolute;
    background-color: #940444;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .buttonBorders {
    position: relative;
    width: fit-content;
    height: fit-content;
   }
   
   .buttonBorders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid var(--color-thirt);
    border-bottom: 0px;
   }
   
   .buttonBorders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid var(--color-thirt);
    border-top: 0px;
    z-index: 0;
   }
   
   .shape {
    fill: var(--color-thirt);
   }
   
   .containerTech{
    width: 80%;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }